<link rel="stylesheet" href="/css/instructor_navbar.css">
<nav class="navbar">
    <img src="/Assets/concordia logo.png" alt="Concordia Logo">
    <ul class="navbar-list">
        <!--Will change these as needed -->
        <li><a href="/instructor_index">Home</a></li>
        <li><a href="/generate-teams">Generate Teams</a></li>
        <li><a href="/assessments-instructor">See Assessments</a></li>
        <li><a href="#">More</a></li>
        <!-- Logout button here -->
        <li class="logout-btn">
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>
</nav>