<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/assessment.css">
    <title>Assessment Demo</title>
</head>

<body>
<%- include('partials/student_navbar') %>
<h1>Peer Evaluation (First Demo)</h1>
<h2>Assessing <%= evaluatee.username %> </h2>
<form class="assessment" action="/students/<%= currentUser._id %>/assessment/<%= evaluatee._id %>" method="POST">
    <div>
        <label>Cooperation</label> <br>
        <input type="range" id="cooperation" name="cooperation" min="1" max="5" step="1"> <br>
        <div class="range-labels">
            <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span>
        </div>
    </div>
    <div>
        <label>Conceptual Contribution</label> <br>
        <input type="range" id="conceptual_contribution" name="conceptual_contribution" min="1" max="5" step="1"> <br>
        <div class="range-labels">
            <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span>
        </div>
    </div>
    <div>
        <label>Practical Contribution</label> <br>
        <input type="range" id="practical_contribution" name="practical_contribution" min="1" max="5" step="1"> <br>
        <div class="range-labels">
            <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span>
        </div>
    </div>
    <div>
        <label>Work Ethic</label> <br>
        <input type="range" id="work_ethic" name="work_ethic" min="1" max="5" step="1"> <br>
        <div class="range-labels">
            <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span>
        </div>
    </div>
    <textarea id="feedback" name="feedback" rows="7" cols="20" placeholder="Explain why you gave this grade"></textarea> <br>
    <button class="submit-button">Submit Assessment</button>
</form>
</body>
</html>