<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment Demo</title>
</head>
<h1>Peer Evaluation (First Demo)</h1>
<h2>Assessing *Student Username*</h2>
<body>
    <form>
        <div>
            <label>Cooperation</label> <br>
            <input type="range" id="cooperation" name="cooperation" min="1" max="5" step="1"> <br>
            <input type="textarea" size="30" placeholder="Explain why you gave this grade">
        </div>
        <div>
            <label>Conceptual Contribution</label> <br>
            <input type="range" id="conceptual_contribution" name="conceptual_contribution" min="1" max="5" step="1"> <br>
            <input type="textarea" size="30" placeholder="Explain why you gave this grade">
        </div>
        <div>
            <label>Practical Contribution</label> <br>
            <input type="range" id="practical_contribution" name="practical_contribution" min="1" max="5" step="1"> <br>
            <input type="textarea" size="30" placeholder="Explain why you gave this grade">
        </div>
        <div>
            <label>Work Ethic</label> <br>
            <input type="range" id="work_ethic" name="work_ethic" min="1" max="5" step="1"> <br>
            <input type="textarea" size="30" placeholder="Explain why you gave this grade">
        </div>
    </form>
</body>
</html>