<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/generate_teams.css">
<<<<<<< HEAD
    <link rel="stylesheet" href="/css/navbar.css"
=======
<<<<<<< HEAD
=======
    <link rel="stylesheet" href="/css/instructor_navbar.css"
>>>>>>> main
>>>>>>> views_sprint2
    <title>Team Management</title>
</head>

<body>
<<<<<<< HEAD

<header>
    <img src="/Assets/concordia logo.png" alt="Concordia Logo">
    <h1>Generate Teams</h1>
</header>

<nav>

</nav>
<section></section>
=======
    <%- include("partials/instructor_navbar") %>
    <header>
        <img src="/Assets/concordia logo.png" alt="Concordia Logo">
        <h1>Generate Teams</h1>
    </header>
    
    <form action="/teams/generate-teams" method="POST" enctype="multipart/form-data">
        <label for="teamSize">Choose team size:</label>
        <select id="teamSize" name="teamSize" required>
        <option value="2">2 students per team</option>
        <option value="3">3 students per team</option>
        <option value="4">4 students per team</option>
        </select>
    
        <label for="csvFile">Upload Student Roster (CSV):</label>
        <input type="file" id="csvFile" name="csvFile" accept=".csv" required>
    
        <button type="submit">Generate Teams</button>
    </form>
>>>>>>> main

</body>
</html>