<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/generate_teams.css">
    <title>Team Management</title>
</head>

<body>

<header>
    <img src="/Assets/concordia logo.png" alt="Concordia Logo">
    <h1>Generate Teams</h1>
</header>

<nav>

</nav>
<section></section>

</body>
</html>