<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/generate_teams.css">
    <link rel="stylesheet" href="/css/instructor_navbar.css"
    <title>Team Management</title>
</head>

<body>

    <%- include("partials/instructor_navbar") %>
    <header>
        <img src="/Assets/concordia logo.png" alt="Concordia Logo">
        <h1>Generate Teams</h1>
    </header>

</body>
</html>