<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the Home Page!</h1>
    <h2>Sign up or login to continue!</h2>
    <div>
        <a href="/login">Login Page</a>
        <a href="/register">Registration Page</a>
    </div>
</body>
</html>