<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the Home Page!</h1>
    <h2>(You should only be able to see this if you're logged in)</h2>
</body>
</html>