<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/instructor_home.css">
    <title>Home</title>
</head>

<body>

<header>
    <img src="/Assets/concordia logo.png" alt="Concordia Logo">
    <h1>Welcome to the Peer Evaluation App</h1>
</header>

<nav>
    <a href="team_management.ejs">Team Management</a>
    <a href="team_evaluations.ejs"> Team Evaluations</a>

</nav>
<section></section>

</body>
</html>