<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <title>Login</title>
</head>
<body>
    <h1>Login to the Peer Evaluation Web App!</h1>
    <form action="/login" method="POST">
        <div>
            <label for="username">Enter username:</label>
            <input type="text" name="username" id="username" placeholder="username"> 
        </div>
        <div>
            <label for="password">Enter password:</label>
            <input type="password" name="password" id="password" placeholder="password"> 
        </div>
        <button>Login</button> 
    </form>
</body>
</html>