<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/login-bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Login</title>
</head>

<body>
<%- include("partials/login_bar") %>
<section class="main-section">
    <form action="/login" method="POST">
        <div>
            <label for="username">Enter username:</label>
            <input type="text" name="username" id="username" placeholder="username" required> 
        </div>
        <div>
            <label for="password">Enter password:</label>
            <input type="password" name="password" id="password" placeholder="password" required> 
        </div>
        <button>Login</button>
        <div>
            <a href="/register">Registration Page</a>
        </div>
    </form>

<div class="wrapper">
    <div class="collapsible">
        <input type="checkbox" id="collapsible-header">
        <label for="collapsible-header"> Instructor Login <i class="fa fa-arrow-right" id="arrow-icon"></i> </label>
        <div class="collapsible-form">
            <form action="/login" method="POST">
                <div>
                    <label for="admin-username">Enter username:</label>
                    <input type="text" name="username" id="admin-username" placeholder="username">
                </div>
                <div>
                    <label for="admin-password">Enter password:</label>
                    <input type="password" name="password" id="admin-password" placeholder="password">
                </div>
                <button>Login</button>
            </form>
        </div>
    </div>

</div>
</section>
</body>
</html>
