
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/instructor_home.css">
    <title>Student Dashboard</title>
</head>
<body>

<header>
    <img src="/Assets/concordia logo.png" alt="Concordia Logo">
    <h1>Student Dashboard</h1>
</header>

<nav>
    <a href="/student_team_management">Team Management</a>
    <a href="/team_evaluations"> Peer Evaluation</a>
</nav>
<section>
<!-- Code to show students there team will go here -->
    <h3>You are not in a team yet</h3>
</section>

</body>
</html>
