<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/team_management.css">
    <title>Team management</title>
</head>
<body>

<header>
    <img src="/Assets/concordia logo.png" alt="Concordia Logo">
    <h1>Team management</h1>
</header>

<nav>
</nav>

<section>
    <h2>Create a team</h2>
    <form action="/teams/new" method="POST">
        <div>
            <label for="name">Enter team name:</label>
            <input type="text" name="team_name" id="team_name" placeholder="Team name" required>
        </div>
        <button>Create new team</button>
    </form>
</section>

</body>
</html>
