body{
  font-family: Arial, sans-serif;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
  }

  .search-bar:focus {
    border-color: #8a0000;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  }
  

  .results-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .result-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .result-item:hover {
    background-color: #f0f0f0;
  }

  .result-item:last-child {
    border-bottom: none;
  }
  
  .student-item {
    font-size: 18px;
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  .student-item:hover {
      box-shadow: 0px 4px 8px rgba(140, 0, 0, 0.6);
  }
  .current-team-student {
      font-weight: bold;
  }

.submit-button {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #8a0000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #99192b;
}