body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-content: center;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    justify-content: flex-start;
    background-color: white;
}

header img {
    margin-right: 10px;
    width: 30%;
}

header h1 {
    font-size: 35px;
}