body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-content: center;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    justify-content: flex-start;
    background-color: white;
}

header img {
    margin-right: 10px;
    width: 30%;
}

header h1 {
    font-size: 35px;
}

nav a{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 40px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    border-radius: 6px;
}