body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

form {
    background: white;
    padding: 20px 250px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    width: 200px;
    border-radius: 10px;
    text-align: center;

}

h1 {
    padding: 20px;
}

label {

    font-size: 15px;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
}

button {
    margin-top: 10px;
    cursor: pointer;

}
