<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor Dashboard</title>
    <link rel="stylesheet" href="css/instructor_home.css">
    <link rel="stylesheet" href="css/navbar.css">
</head>


<body>

<%- include('partials/start_navbar') %>

</body>
</html>
