<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Register</title>
</head>
<body>
    <link rel="stylesheet" href="/css/login-bar.css">
    <nav class="navbar">
    <img src="/Assets/concordia logo.png" alt="Concordia Logo">
    <h1>Sign Up for Peer Evaluation Web App!</h1>
    </nav>

    <section class="main-section">
    <form action="/register" method="POST">
        <div>
            <label for="username">Enter username:</label>
            <input type="text" name="username" id="username" placeholder="username" required> 
        </div>
        <div>
            <label for="password">Enter password:</label>
            <input type="password" name="password" id="password" placeholder="password" required> 
        </div>
        <div>
            <label for="user_type">Select your role:</label>
            <select id="user_type" name="user_type" required>
                <option value="" disabled selected>Select your role</option>
                <option value="student">Student</option>
                <option value="instructor">Instructor</option>
            </select>
        </div>
        <button type="submit">Register</button> 
    </form>
    <div>
        <a href="/login">Login Page</a>
    </div>
    </section>
    
</body>
</html>