<link rel="stylesheet" href="/css/instructor_navbar.css">
<nav class="navbar">
    <img src="/assets/concordia logo.png" alt="Concordia Logo">
    <ul class="navbar-list">
        <!-- Links dynamically include the classId -->
        <li><a href="/classes/<%= classId %>/teams">Home</a></li>
        <li><a href="/classes/<%= classId %>/generate-teams">Generate Teams</a></li>
        <li><a href="/assessments-instructor/<%= classId %>">See Assessments</a></li>
        <li><a href="/instructor_index">Your Classes</a></li>
        <!-- Logout button here -->
        <li class="logout-btn">
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>
</nav>
