<link rel="stylesheet" href="/css/instructor_navbar.css">

<nav class="navbar">
    <img src="/assets/concordia logo.png" alt="Concordia Logo">
    <ul class="navbar-list">
        <li><a href="/student_index">Home</a></li>
        <li><a href="/assessments/<%= classId %>/<%= currentUser._id %>">Grades</a></li>
        <li><a href="#">More</a></li>

        <!-- Logout button -->
        <li class="logout-btn">
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>
</nav>
