<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h3>Don't touch this - this is for testing purposes</h3>
        <form action="/test" method="POST">
            <button>Print User Data to Console</button>
        </form>
        <br>
        <a href="/instructor_index">Instructor Index Page</a>
        <br>
        <a href="/student_index">Student Index Page</a>
    </div>
</body>
<footer>
    <form action="/logout" method="POST">
        <button>Sign Out</button>
    </form>
</footer>
</html>
